<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <!--  <a class='navbar-brand'>{{pageTitle}}</a> -->
      <ul class='nav navbar-nav'>
        <li routerLinkActive="linkActive">
          <a routerLink='/home'>Home</a>
        </li>                          <!-- pažymimas tik vienas aktyvus meniu punktas -->
        <li routerLinkActive="linkActive" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink='/products'>Product List</a>
        </li>
        <li routerLinkActive="linkActive"><a [routerLink]="['/products',0,'edit']">Add Product</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="welcome" *ngIf="authService.isLoggedIn()">
          <a>Welcome {{ authService.userName }}</a>
        </li>
        <li class="logIn" *ngIf="!authService.isLoggedIn()">
           <a routerLink='/login'>Log In</a>
        </li>
        <li class="logOut" *ngIf="authService.isLoggedIn()">
          <a (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
